<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.day1.mapper.WeixinBjmcMapper">


    <select id="getRxnfListByZyId" resultType="java.lang.String">
        SELECT DISTINCT RXNF FROM WEIXIN_BJMC
        WHERE ZPBH = #{ZYBH}
    </select>

</mapper>
